.image {
  float: left;
  width: 45%;
  padding-left: 7%;
  padding-top: 5%
}

.paragraph {
  width: 45%;
  float: right;
  padding-right: 7%;
  padding-top: 5%;
}

.header {
  padding-bottom: 4%;
  text-align: center; 
}